[Desktop Entry]
Encoding=UTF-8
Name=Monkey
Comment=Monkey P2P Cryptocurrency
Exec=monkey-qt %u
Terminal=false
Type=Application
Icon=monkey128
MimeType=x-scheme-handler/monkey;
Categories=Office;Finance;
Name[en_US]=monkey-qt.desktop
